body {
  padding: 2rem;

  background-image: url('../img/bg.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  max-width: 36rem;
  border-radius: .3rem;
  backdrop-filter: blur(10px);
  border: 1px solid #222;
}

#calendar {
  max-width: 36rem;
}

nav {
  flex-direction: row;
  gap: 1rem;
}

label:has(#mobile-menu) {
  display: none;
}

nav a {
  display: block;
}

@media (width > 1100px) {
  body {
    flex-direction: row;
    align-items: flex-start;
  }
  
  #calendar {
    width: 700px;
  }
}